<!DOCTYPE html>
<html>
  <head>
    <title>Rob Brown - Part Designer, Part Developer</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Ro Gallant-Brown", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>   
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <%= yield %>

    <footer id="main_footer"> 
      <p class="copyright">&copy; 2019 Ro Gallant-Brown</p>
      <nav>
        <a href="http://www.linkedin.com/rogallantbrown" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </nav>
    </footer>

  </body>
</html>
